@utility container {
  @apply mx-auto max-w-[1140px] px-3 lg:px-8 xl:max-w-[1320px];
}

@theme {
  --breakpoint-sm: 540px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
